*{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}:after,:before{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}
/**
 * YUI 3.5.0 - reset.css (http://developer.yahoo.com/yui/3/cssreset/)
 * http://cssreset.com
 * Copyright 2012 Yahoo! Inc. All rights reserved.
 * http://yuilibrary.com/license/
 */
html{
  color:#000;
  background:#FFF;
}
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
textarea,
p{
  margin:0;
  padding:0;
}
fieldset,
img {
  border:0;
}

ol,
ul {
  list-style:none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size:100%;
  font-weight:normal;
}
input,
textarea,
select {
  font-family:inherit;
  font-size:inherit;
  font-weight:inherit;
}
/*to enable resizing for IE*/
input,
textarea,
select {
  *font-size:100%;
}

.bg {
  width:100%;
  height:100%;
}
.col{
  overflow: hidden;
  margin: 10px 0;
}
.col-4 {
  float: left;
  width: 35%;
  margin-left: 5%;
}
.col-6 {
  float: left;
  width: 60%;
}
#sign_up {
  background-size:100% 100%;
  padding-top: 30px;
}
#sign_up .containor{
  margin:0 10px;
}
#sign_up h1 {
  color: #666;
  margin-bottom: 20px;
}
#sign_up input {
  border: 1px solid rgba(175,220,237, .5);
  out line: none;
  border-radius: 2px;
  padding: 10px 0;
  text-indent: 10px;
  background-color: rgba(255,255,255,.3);
}
#sign_up input::-webkit-input-placeholder{
  color: #000;
}
#sign_up input:-moz-placeholder{
  color: #000;
}
#sign_up input::-moz-placeholder{
  color: #000;
}
#sign_up input:-ms-input-placeholder {
  color: #000;
}
#sign_up input,
#sign_up a {
  margin: 10px 0;
  display: block;
  width: 100%;
  font-size: 16px;
}
#sign_up .col input,
#sign_up .col a {
  margin: 0;
}


.btn {
  padding: 10px 0;
  text-decoration: none;
  color: #fff;
  text-align: center;
  background-color: #1196FF;
  border-radius: 2px;
}
.btn:focus {
  outline: none;
}
.btn.disabled{
  pointer-events: none;
  cursor: not-allowed;
  background-color: #B0DCEC;
  color: #1196FF;
}

#success {
  line-height: 25px;
  height: 100%;
  text-align: center;
  color:#fff;
  background-color: #32A4CF;
  padding-top:8%
}
#success h1 {
  font-size: 22px;
  margin: 10px 0;
}
#success h5 {
  position: relative;
  margin: 20px 0 10px;
}
#success h5:before,
#success h5:after {
  content: "";
  position: absolute;
  top: 50%;
  border-top: 1px solid #6bbddc;
}
#success h5:before {
  left: 20%;
  right: 62%;
}
#success h5:after {
  right: 20%;
  left: 62%;
}
#success ul {
  margin: 10px 20% 0;
}
#success li {
  text-align: left;
}
#success .checkmark {
  height: 40px;
}
#success .qrcode{
  width: 70%;
}

#play_btn {
  top: 20px;
  right: 10px;
  position: absolute;
  height: 40px;
  width: 40px;
  background: url(../images/play-btn-bg.png) 0 0 no-repeat;
  opacity: 0;
  border-radius: 50%;
}
#play_btn.paused {
  opacity: 1;
  background: url(../images/play-btn-bg.png) 0 -40px no-repeat;
}
#play_btn.playing {
  opacity: 1;
  -webkit-transition: opacity .5s ease-in;
  -moz-transition: opacity .5s ease-in;
  transition: opacity .5s ease-in;
  -webkit-animation: spinner 1.5s infinite linear;
  -moz-animation: spinner 1.5s infinite linear;
  animation: spinner 1.5s infinite linear;
  -webkit-transform-origin: 50% 50%;
  -moz-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
}
@-webkit-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-moz-keyframes spinner {
  0% {
    -moz-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -moz-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes spinner {
  0% {
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
